figure.highlight
  table::-webkit-scrollbar
    color var(--efu-secondbg)
    height 6px
    background var(--efu-hl-bg)
    border-radius 6px
    display initial

  [data-theme=dark] &
    td.code
      span
        color var(--shiki-dark) !important
        // background-color var(--shiki-dark-bg) !important // 不建议使用
        font-style var(--shiki-dark-font-style) !important
        font-weight var(--shiki-dark-font-weight) !important
        text-decoration var(--shiki-dark-text-decoration) !important